body {
	width: 100%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-margin-top: 30px;
}

label,
input[type='checkbox'] {
	cursor: pointer;
}

#result-area {
	li {
		margin-bottom: 25px;
	}
}

#reslut {
	textarea {
		height: 110px !important;
	}
}

#resluts-tocopy {
	textarea {
		min-height: 40vh;
	}
}

//media query template
@mixin mq($min-size, $max-size) {
	@media only screen and (min-width:$min-size) and (max-width: $max-size) {
		@content;
	}
}