header {
	height: 15vh;
	font-size: 2.5rem;
	font-weight: 100;
	margin-bottom: 0.5rem;
	padding-bottom: 1rem;

	@include mq(366px, 460px) {
		font-size: 2rem;
	}

	@include mq(0px, 365px) {
		font-size: 1.5rem;
	}
}

.navbar {
	height: 0px;
	@include mq(0px, 786px) {
		height: auto;
	}

	.navbar-brand {
		transform: translateY(1vh);
		@include mq(0px, 786px) {
			transform: translateY(0px);
		}

		img {
			width: 5rem;
			height: 5rem;

			@include mq(461px, 786px) {
				width: 4rem;
				height: 4rem;
			}
			@include mq(0px, 460px) {
				width: 3rem;
				height: 3rem;
			}
		}
	}
}