body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-margin-top: 30px;
}

label,
input[type='checkbox'] {
  cursor: pointer;
}

#result-area li {
  margin-bottom: 25px;
}

#reslut textarea {
  height: 110px !important;
}

#resluts-tocopy textarea {
  min-height: 40vh;
}

header {
  height: 15vh;
  font-size: 2.5rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 366px) and (max-width: 460px) {
  header {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 0px) and (max-width: 365px) {
  header {
    font-size: 1.5rem;
  }
}

.navbar {
  height: 0px;
}

@media only screen and (min-width: 0px) and (max-width: 786px) {
  .navbar {
    height: auto;
  }
}

.navbar .navbar-brand {
  -webkit-transform: translateY(1vh);
          transform: translateY(1vh);
}

@media only screen and (min-width: 0px) and (max-width: 786px) {
  .navbar .navbar-brand {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.navbar .navbar-brand img {
  width: 5rem;
  height: 5rem;
}

@media only screen and (min-width: 461px) and (max-width: 786px) {
  .navbar .navbar-brand img {
    width: 4rem;
    height: 4rem;
  }
}

@media only screen and (min-width: 0px) and (max-width: 460px) {
  .navbar .navbar-brand img {
    width: 3rem;
    height: 3rem;
  }
}
/*# sourceMappingURL=main.css.map */